mat-expansion-panel {
  margin: 10px 0;
}

mat-panel-title {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-expansion-panel-header .title {
  flex-basis: 40%;
  align-self: center;
}

mat-expansion-panel-header .status {
  flex-basis: 20%;
  align-self: center;
}

mat-expansion-panel-header .progress {
  flex-basis: 40%;
  text-align: right;
}

mat-expansion-panel-header .progress button {
  text-align: center;
}