:host mat-card:nth-child(1) {
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
:host mat-card:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.action-grp {
  display: flex;
  align-items: center;
  padding: 0 6px;
}
.action-grp .mat-flat-button{
  height: 36px;
  margin: 10px 5px 10px 0;
}
table {
  animation: fadein 0.3s ease-in-out;
  width: 100%;
}
table a {
  text-decoration: none;
  color: #fff;
}

.table-fill-in {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  animation: none;
}